<!DOCTYPE html>
<html>
<head>
    <script src="/templates/modify.js"></script>
    <title>Anjoovi</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
    <div id="style">
        <link type="text/css" rel="stylesheet" href="/templates/stories/index.css?v=1.15">
    </div>
</head>
<body class=" m-0">
    <div id="page">
    <div id="pg" class="bg-dark w-100" style="height:100vh">
    <div id="c" class="row d-flex justify-content-center w-100 h-100">
    <div id="imgd" class="col-12 col-md-4 h-100">
        <img id="s_img" class="" style="width:100%; height:100%">
        <div id="a"></div>
    </div>
    </div>
    <div id="ls" class=""></div>
    <div id="ld" class=""></div>
    <div id="status_div"></div>
    <div id="xd" class="d-none d-md-block">
        <div id="x1"><i id="" class="bi-pause-fill" style="font-size:40px"></i></div>
        <div id="x2"><i id="" class="bi-play-fill" style="font-size:40px"></i></div>
    </div>
    <div id="x"><i class="bi-x"></i></div>
    <img id="cg" style="display:none;"></img>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/scripts/jquery/jquery-3.6.3.min.js"></script>
    <div id="script">
        <script src="/templates/stories/index.js?v=1.12"></script>
    </div>
</body>
</html>