android/node_modules/
android/android/.gradle/
android/android/.idea/
android/android/gradle/
android/android/app/build/

web/node_modules/
web/ssl/

php-jwt/
!php-jwt/src/

scripts/ffmpeg/node_modules/
scripts/nogit/

ssl/
node_modules/
passwords/
keys/
conf/

pay/routes

server/chunks/

public_html/zips/
public_html/images/
public_html/musics/
public_html/videos/

public_html/sitemap.xml

.vscode/

minecraft/
javap/

teste/
tools/