<!DOCTYPE html>
<html>
<head>
    <div name="info" data-an-title="Anjoovi"></div>
    <div id="style">
        <link rel="stylesheet" href="/templates/admin/musicas_cadastro/index.css?v=1">
    </div>
</head>
<body>
    <div id="page">
        <form action="">
            <input type="text" id="titulo" required>
            <input type="file" id="capa" accept="image/jpg, image/jpeg" required>
            <input type="file" id="arquivo" accept="audio/*" required>
            <button type="submit"></button>
        </form>
        <div id="downd">
            <div id="downp">Porcentagem: 0%</div>
        </div>
    </div>
    <div id="script">
        <script src="/templates/admin/musicas_cadastro/index.js"></script>
    </div>
</body>
</html>