@import '../../function.scss';
@mixin selected($number:null){
    left:20% * $number;
    #tipobd.selected#{$number} + #tipot .t#{$number}{
        background-color: black;
        color: white;
    }
}
$destaque-width:30vw;
$destaque-pc:382.5px;
$width-mobile:25vw;
$infos-height:calc($destaque-width / 1280 * 720 - $destaque-width/3 - 0.9vw);
$logo-width:calc($destaque-width / 1280 * 720 - $destaque-width/3 - 0.9vw);
:root{
    --pg-t-w:calc(100% - $destaque-pcpx);
    --pg-t-h:calc($destaque-pcpx / 1280 * 720);
}
html,body{
    margin:0px;
}
.can{
    width:100%;
    min-height:100vh;
}
.can{
    #top{
        position:relative;
        display:flex;
        margin-top:var(--menu-height);
        width:100%;
        padding:0;
        align-items: start;
    }
    .infod{
        position: relative;
        display: flex;
        align-items: start;
    }
    .margin{
        position: relative;
        width:100%;
        height:0;
        padding-bottom:1.3%;
    }
    .di{
        position: absolute;
        background: rgba(0,0,0,0);
        display: flex !important;
        flex-direction: column;
        // width:calc(100% - $infos-height);
        height:100%;
        width:70%;
        margin-left:30%;
    }
    .di > div{
        margin-left: 10px;
        @include pc(){
            height:33.333%;
        }
    }
    #meio{
        position: relative;
        padding:0;
        width:100%;
        height:auto;
        pointer-events: none;
    }
    // #meiomargin{
    //     position: relative;
    //     margin-top:8.1vh;
    //     width:100%;
    //     // padding-bottom: calc(100% / 1280 * 720 * 0.35);
    //     padding-bottom:calc(var(--div-width) / 1280 * 720 * 0.369);
    //     pointer-events: none;
    //     margin-bottom: 1em;
    // }
    #meiob{
        position: relative;
        display: block;
        width:100%;
        height:auto;
        pointer-events: initial;
    }
    #group-mobile{
        position: relative;
        display: flex;
        width: calc(100% - 10px);
        margin-top:5px;
        // margin-bottom: 1vh;
        // display: flex;
    }
    #group-btns{
        width: 100%;
        height: 100%;
        position: relative;
        display: flex;
        flex-direction: row;
        overflow:hidden;
        user-select: none;
    }
    #group-btns::-webkit-scrollbar{
        display: none;
    }
    .group-btn-item{
        font-size: 16px;
        height: 100%;
        max-height: 25px;
        padding-left: 5px;
        padding-right: 5px;
        flex-shrink: 0;
    }
    .group-btn-item:active{
        opacity: 0.5;
    }
    .inscrever{
        background-color: black;
        color: white;
        position: relative;
        display: inline-flex;
        width:80px;
        border-radius: 5px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }
    .mensagem{
        background-color: black;
        color: white;
        position: relative;
        display: inline-flex;
        width:108px;
        margin-left: 5px;
        border-radius: 5px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }
    .about{
        background-color: black;
        color: white;
        position: relative;
        display: inline-flex;
        width:80px;
        margin-left: 5px;
        border-radius: 5px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }
    .card{
        background-color: black;
        color: white;
        position: relative;
        display: inline-flex;
        width:80px;
        margin-left: 5px;
        border-radius: 5px;
        cursor: pointer;
        justify-content: center;
        align-items: center;
    }
    #aboutMenu{
        position: fixed;
        background-color: white;
        box-shadow:2px 2px 5px rgba(128,128,128,0.5);
        border-radius: 10px;
        padding:10px;
        top:10%;
        left:10%;
        width:80%;
        height:80%;
        @include pc(){
            top:10%;
            left:35%;
            width:30%;
            height:80%;
        }
    }
    #description-label{
        font-size:120%;
    }
    #description{
        width: 100%;
        overflow-wrap: break-word; /* Quebrar as palavras grandes */
        word-wrap: break-word; /* Compatibilidade antiga */
        white-space: normal; /* Permite quebras de linha automáticas */
    }
    #description-x{
        font-size: 1.5em;
        position: absolute;
        top:0.25ch;
        left:calc(100% - 1.75ch);
        width: 1.5ch;
        height: 1.5ch;
        cursor: pointer;
    }
    #cardMenu{
        position: fixed;
        background-color: white;
        box-shadow:2px 2px 5px rgba(128,128,128,0.5);
        border-radius: 10px;
        padding:10px;
        top:10%;
        left:10%;
        width:80%;
        height:80%;
        @include pc(){
            top:10%;
            left:35%;
            width:30%;
            height:80%;
        }
    }
    #card-label{
        font-size:120%;
    }
    #card{
        width: 100%;
        overflow-wrap: break-word; /* Quebrar as palavras grandes */
        word-wrap: break-word; /* Compatibilidade antiga */
        white-space: normal; /* Permite quebras de linha automáticas */
    }
    #card-x{
        font-size: 1.5em;
        position: absolute;
        top:0.25ch;
        left:calc(100% - 1.75ch);
        width: 1.5ch;
        height: 1.5ch;
        cursor: pointer;
    }
    .card-item{
        border-bottom:solid 1px black;
        margin-bottom: 20px;
    }
    .card-item:last-child{
        border-bottom:initial;
        margin-bottom: 0;
    }
    .card-item-title{
        font-weight: 900;
    }
    .card-item-link{
        color:blue;
    }
    .n_inscritos{
        position:relative;
        display:inline-block;
    }
    .logo_c{
        display:inline-flex;
    }
    #banner{
        position:relative;
        background:white;
        display:block;
        width:var(--pg-t-w);
        height: 0;
        padding-bottom:calc(var(--pg-t-h) * 1.5 + 0.6%) !important;
        border-radius: 2vh;
        overflow: hidden;
    }
    #banner img{
        position: absolute;
        width:100%;
        height:100%;
    }
    .a{
        text-decoration: none;
        color:black;
        margin-top:0%;
        margin-left:0%;
    }
    .postc .titulo{
        margin-top:2%;
    }
    .postc .nome{
        margin-top:2%;
    }
    .a:hover{
        color:black;
    }
    .nomed, .infosd{
        position:relative;
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    .nomed{
        font-weight: 700;
    }
    .c_nome{
        position: relative;
        display: inline-block;
        align-items: center;
        height:1.5em;
    }
    .c_usuario{
        height:1.5em;
        display:inline-block;
        position:relative;
        background:rgba(0,0,0,0);
    }
    .num{
        display:inline-block;
        position:relative;
        background:white;
        color:black;
        height:2vh;
    }
    #tipod{
        position:relative;
        display: block;
        width:95%;
        margin-left: var(--div-margin);
        height:1.6em;
        margin-top: 1em;
        margin-bottom: 1em;
        user-select: none;
    }
    .tipo{
        position:relative;
        display: inline-flex;
        width:fit-content;
        padding-left: 1ch;
        padding-right: 1ch;
        height: 100%;
        justify-content: center;
        align-items: center;
        cursor:pointer;
        background-color: hsl(0deg,0%,89%);
        border-radius: 5px;
        margin-right: 1ch;
    }
    #tipot{
        position:relative;
        width:100%;
        height:100%;
        overflow-x: auto;
        white-space: nowrap;
    }
    #tipot::-webkit-scrollbar{
        display: none;
    }
    #topd{
        position: relative;
        display: flex;
        width: 100%;
        // padding-bottom:calc(100% / 1280 * 720 * 0.369)
    }
    #topb{
        position: relative;
        width:var(--div-width);
        display: flex;
        flex-direction: row;
        margin-top: 8.1vh;
        padding: 0;
        margin-left: var(--div-margin);

    }
    #pg-t{
        margin:0px;
        padding: 0px;
        position:relative;
        display:flex;
        flex-direction: column;
        // width:var(--pg-t-w);
        // height:100%;
        // width: 100%;
        width:calc(100% - $destaque-pc);
        height:calc($destaque-pc / 1280 * 720);
    }
    #pg-t.n-destaque{
        width:100%;
    }
    @include selected(1);
    @include selected(2);
    @include selected(3);
    @include selected(4);
    @include selected(5);
    @include selected(6);
    @include selected(7);
    // #tipobd.selected1 + #tipot .t1,#tipobd.selected2 + #tipot .t2,#tipobd.selected3 + #tipot .t3,#tipobd.selected4 + #tipot .t4,#tipobd.selected5 + #tipot .t5{
    //     background-color: black;
    //     color: white;
    // }
    // #tipobd.selected1 + #tipot .t1:after,#tipobd.selected2 + #tipot .t2:after,#tipobd.selected3 + #tipot .t3:after,#tipobd.selected4 + #tipot .t4:after,#tipobd.selected5 + #tipot .t5:after{
    //     content: "";
    //     position: absolute;
    //     display: block;
    //     background-color: black;
    //     width:100%;
    //     height:0.4ch;
    //     border-radius: 10px;
    //     top:calc(100% + 0.25ch);

    // }
    #destaque{
        position:relative;
        display:block;
        border-radius: 20px;
        overflow: hidden;
        width: var(--div-width);
        height: initial;
        aspect-ratio: 16/9;
        margin-left: var(--div-margin);
        margin-top: 1.9vw;
        text-decoration: none;
    }
    #dl2{
        position: relative;
        display: flex;
        flex-direction: row;
        height: auto;
        padding-top: 15px;
        padding-bottom:1.9vw;
        @include pc(){
            width: 100%;
            height: 85px;
            padding-bottom: 0;
        }
    }
    @media screen and (max-width:768px){
        .di{
            font-size:120%;
        }
        .tipo{
            width:20vw;
        }
        #top{
            display:block;
        }
        #pg-t{
            display:block;
            padding-left: var(--div-margin);
            padding-right: var(--div-margin);
            width:100%;
            height:auto;
        }
        #banner{
            width:100%;
            padding-bottom:calc(100% / 1280 * 360) !important;
        }
        .infod{
            margin-left:var(--div-margin);
        }
        // #meiomargin{
        //     padding-bottom: calc(100% / 1280 * 720 * 1.5);
        // }
    }
    @include pc(){
        #top{
            left:var(--div-margin);
            width:var(--div-width);
        }
        #banner{
            // width:calc(var(--pg-t-w) * 1.5);
            width: 100%;
            padding-bottom:130px !important;
        }
        #tipod{
            padding:0px;
        }
        #destaque{
            margin-right: 20px;
            margin-left: 0;
            // padding-bottom: calc(100% / 3 / 1280 * 720);
            // padding-top: 50%;
            display: inline-block;
            margin-top:0;
            width: $destaque-pc;
            // width: ;
        }
        .di{
            width: calc(100% - 67.5px);
            margin-left:67.5px;
        }
        .nomed, .infosd{
            flex-direction: row;
            height:1.5em;
            max-height: 20px;
        }
        .c_usuario, .num{
            padding-left: 10px;
        }
        .c_nome, .c_usuario{
            max-width:48%;
        }
    }
    .pg-b{
        width:100%;
        margin:0;
        padding:0;
    }
    #destaque{
        .imagem-canal{
            width:100%;
            height:100%;
            position: absolute;
        }
        .texto-canal{
            position: relative;
            display: block;
            margin-top: 1em;
            height:10.5em; 
            -webkit-line-clamp: 7;
            line-clamp: 7;
            color: black;
        }
        .titulo{
            position: absolute;
            display:block;
            margin-left: calc(4% - 0.25ch);
            padding-left: 0.25ch;
            padding-right: 0.25ch;
            bottom:1ch;
            width: fit-content;
            max-width: calc(96% - 0.5ch);
            font-size:1em;
            height:1.5em;
            color:white;
            background-color: black;
            border-radius: 5px;
        }
    }
    #logodiv{
        position:relative;
        overflow:hidden;
        background:black;
        display: flex;
        color:white;
        aspect-ratio: 1;
        border-radius: 20px;
        font-size: calc($width-mobile / 2) !important;
        width: 30%;
        height: initial;
        @include pc(){
            width: initial;
            height:100%;
            font-size: $infos-height/2 !important;
            border-radius: 10px;
        }
    }
    #logodiv:active{
        opacity: 0.5;
    }
    #logodiv div{
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #logodiv.stories{
        font-size: calc(calc($width-mobile / 2) - 4px) !important;
        @include pc(){
            font-size: calc($infos-height/2 - 4px) !important;
        }
        border:solid 4px black;
    }
    #logodiv.stories #logo_cpp_img{
        position: absolute;
        left:0;
        top:0 !important;
        width:100% !important;
        height:100% !important;
    }
    #private{
        width:100%;
        height:100%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 160%;
    }
}
.can.vis #logodiv.stories{
    border:solid 4px gray;
}