@import '../../function.scss';
.im{
    position: absolute;
    background:white;
    top:8vh;
    width:100%;
    min-height:92vh;
    display: block;
}
.im:not(.playlist) #s1{
    @include pc(){
        width:59%;
        margin-left: var(--div-margin);
        height:auto;
    }
}
.im{
    #bottom{
        position: relative;
        display: flex;
        width: 100%;
        height: 100%;
        flex-direction: row;
    }
    #s1{
        width:100%;
        margin-left: 0;
    }
    .anunciodiv ins{
        width:100%;
        height:20vh;
    }
    @include pc(){
        .anunciodiv ins{
            height:50vh;
        }
        #s1{
            margin-left: var(--div-margin);
        }
    }
}
.p-imagem{
    position: relative;
    display: block;
    background: white;
    width:var(--div-width);
    margin-left:var(--div-margin);
    color: black;
    text-decoration: none;
} 
@include pc(){
    .p-imagem{
        width:100%;
        margin-left: 0;
    }
    #s1{
        margin-left: var(--div-margin);
    }
}
@include pc(){
    .p-imagem{
        width:100%;
        margin-left: 0;
    }
}
.p-imagem{
    .visualizacoes{
        font-size: 120%;
        padding-left:1%;
    }

    .campo-img-imagem{
        position:relative;
        background:rgba(0,0,0,0);
        display:flex;
        justify-content: center;
        width:70%;
        aspect-ratio: 16/9;
        // border-radius: 20px;
        // overflow: hidden;
    }
    .campo-img-imagem img{
        user-select: none;
        pointer-events: none;
        -webkit-user-drag: none;
    }
    // .campo-img-imagem.wait{
    //     background-color: gray;
    // }
    .campo-img-imagem img{
        position:absolute;
        background:white;
        display:block;
        height:100%;
        max-width: 100%;
        top:0;
        left:auto;
        right: auto;
        border-radius: 20px;
        overflow: hidden;
    }
    .descricao-imagem{
        font-size: 110%;
        position:relative;
        width:100%;
        height:fit-content;
        // top:30%;
        margin:0px;
        line-height: 1.3em;
    }
    .descricao-imagem.resumo{
        max-height: 2.6em;
        max-lines: 2;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }
    .descricao-imagem.overflow{
        max-height: 2.6em;
        max-lines: 2;
        -webkit-line-clamp: 2;
        line-clamp: 2;
    }
    .resumo-btn{
        color: gray;
        cursor: pointer;
        width: fit-content;
    }
    .arrow-left{
        left: 4px;
        top:calc(50% - 14.5px);
    }
    .arrow-right{
        right: 4px;
        top:calc(50% - 14.5px);
    }
    .arrow-left, .arrow-right{
        position: absolute;
        padding:4px;
        width:24px;
        height: 24px;
        cursor: pointer;
        border-radius: 50%;
        background-color: rgba(0,0,0,0);
    }
    .arrow-left.disabled, .arrow-right.disabled, .arrow-left:hover, .arrow-right:hover, .arrow-left:active, .arrow-right:active{
        opacity: 0.5;
    }
    .arrow-left.disabled, .arrow-right.disabled{
        cursor: default;
    }
    .arrow-left:not(.disabled):hover, .arrow-right:not(.disabled):hover, .arrow-left:not(.disabled):active, .arrow-right:not(.disabled):active{
        background-color: rgb(128, 128, 128, 1);
    }
    .dot-list{
        position: absolute;
        display: flex;
        flex-direction: row;
        margin-left: auto;
        margin-right: auto;
        justify-content: center;
        width: fit-content;
        height: 16px;
        bottom: 0px;
    }
    .dot-item{
        transform: scale(2.8);
        width: 11px;
        height: 11px;
        color: rgba(255,255,255,0.5);
    }
    .dot-item.selected{
        color: white;
    }
    @media screen and (max-width:768px){
        .campo-img-imagem{
            width:100%;
            padding-bottom:calc(720 / 1280 * 100%);
            border-radius: 20px;
        }
    }
    @media screen and (min-width:769px){
        .campo-img-imagem{
            width:100%;
            padding-bottom: calc(100% / 1280 * 720);
        }
    }
}