@import '../../function.scss';

@mixin media-screen($breakpoint){
    @media screen and (min-width: $breakpoint) {
        @content;
      }
}

.postc#tabela{
    position:relative;
    background:white;
    width:100%;
    margin-left: 0;
    margin-right:auto;
    padding:0;
    overflow: visible;
    display: flex;
    flex-wrap: wrap;
    @include pc(){
        width:calc(var(--div-width) + var(--div-width) * 0.01) !important;
        margin-left:calc(var(--div-margin) - var(--div-width) * 0.01) !important;        
    }
}
.postc{
    a{
        text-decoration: none;
        color:black;
    }
    .coluna{
        margin-top: 0;
        margin-bottom: 12.5px;
        width:var(--div-width);
        margin-right:var(--div-margin);
        padding: 0;
        margin-left:var(--div-margin);
        display: inline-block;
    }
    .linha{
        background:white;
        overflow: hidden;
        width:100%;
        display:block;
        position:relative;
    }
    .linha:active{
        opacity: 0.5;
    }
    .infos-post{
        width:100%;
        position: relative;
        display: flex;
        flex-direction: row;
    }
    .logo_c{
        position: relative;
        margin-top:2%;
    }
    .infos-post-container{
        width: calc(100% - 2.4em - 10px);
    }
    .titulo{
        margin-top: 2%;
        font-size: 120%;
        display:box;
        display:-webkit-box;
        position:relative;
        background:white;
        left:2%;    
        width:96%;
        max-height:3em;
        cursor:pointer;
        max-lines:2;
        -webkit-line-clamp: 2;
        line-height: 1.19em;
    }
    .infos-post.post-texto > .titulo{
        max-lines:6;
        height: initial;
        max-height: 0;
        -webkit-line-clamp: 6;
        margin-top: 0;
        left: 0;
        width: 100%;
        padding-left: 2%;
        padding-right: 2%;
        max-height: calc(97vh * 9 / 16);
    }
    .nome{
        left:2%;
        color:grey !important;
        position:relative;
        display:block;
        background:white;
        width:calc(98% - 6px);
        height:1.2em;
        line-height: 1.2em;
        max-lines: 1;
        -webkit-line-clamp: 1;
        overflow-wrap: normal;
        cursor:pointer;
    }
    .image{
        user-select: none;
        position: relative;
    }
    .imagemd{
        overflow:hidden;
        border-radius: calc(2vh);
        width:100%;
        height:auto;
        background:hsl(0deg, 0%, 89%);
        position:relative;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor:pointer;
    }
    #loading{
        position: relative;
        width: 35px;
        height: 35px;
        margin-left: calc(50% - 15px);
        margin-top: 10px;
    }
    @media screen and (min-width: 769px) {
        .infos-post.post-texto > .titulo{
            aspect-ratio: 16/9;
            max-height: initial;
        }
        .image{
            top: 0;
        }
        .coluna{
            margin-right: 0;
            width:calc(100% / 2 - 1%);
            margin-left: 1%;
            margin-bottom: 7.5px;
        }
        .coluna:not(.pa .coluna){
            margin-left:1%;
            width:calc(100% / 2 - 1%);
        }
        .imagemd{
            aspect-ratio: 16/9;
        }
    }
    @media screen and (min-width: 990px) {
        .coluna{
            margin-right: 0;
            width:calc(100% / 3 - 1%);
            margin-left: 1%;
        }
        .coluna:not(.pa .coluna){
            margin-left:1%;
            width:calc(100% / 3 - 1%);
        }
        .imagemd{
            aspect-ratio: 16/9;
        }
    }
    @media screen and (min-width: 1200px){
        .coluna{
            margin-right:0;
            width:calc(100% / 4 - 1%);
            margin-left:1%;
        }
        .coluna:not(.pa .coluna){
            margin-left:1%;
            width:calc(100% / 4 - 1%);
        }
        .imagemd{
            aspect-ratio: 16/9;
        }
    }
}