@import '../../../function.scss';
@import '../../../admin.scss';
@import './cadastro.scss';

.ic#pg{
    position: absolute;
    top:var(--menu-height);
    width: 100%;
    background: var(--admin-color);
}
.ic {
    @include admin();
    @include cadastro();
    .input{
        outline: none;
        border:solid 1px black;
    }
    .input:focus{
        border:solid 1px black;
    }
    textarea{
        font-size:110%;
        position:relative;
        background:white;
        width:100%;
        height:40vh;
        line-height: 1.3em;
    }
    .image-item{
        width: 100%;
        margin-bottom: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .image-container{
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;
    }
    .image-img{
        width: auto;
        height: 100%;
    }
    .options-image{
        display: flex;
        flex-direction: row;
        height: 49%;
    }
    .original_format{
        user-select: none;
    }
    .image-list .original_format{
        height: 100%;
        display: block;
    }
    .image-list .original_format.disabled{
        color: gray;
        pointer-events: none;
        border: solid 1px gray;
        border-radius: 2px;
    }
    .remove-image{
        position: relative;
        display: flex;
        height: 100%;
        margin-left: 5px;
        border: solid 1px gray;
        border-radius: 3px;
        justify-content: center;
        align-items: center;
        font-size: 150%;
        aspect-ratio: 1;
    }
    .remove-image.disabled{
        color: gray;
    }
    @include pc(){
        .image-item{
            display: inline-block;
            width: 24.2%;
            margin-right: 1.066%;
            margin-bottom: 1.066%;
        }
        .image-item:nth-child(4n){
            margin-right: 0;
        }
        .imagem-view{
            width: 100%;
        }
        .imagem-pt{
            width: 100%;
        }
    }
}