@import '../../../function.scss';
@import '../../../admin.scss';
@import './cadastro.scss';

.vc#pg{
    position:absolute;
    top:var(--menu-height);
    width:100%;
    min-height:90vh;
    background:var(--admin-color);
}
.vc{
    @include admin();
    @include cadastro();
    .input{
        font-size: 110%;
        position:relative;
        background:white;
        padding-left:2%;
        border-radius:5px;
        align-items: center;
        display: flex;
        outline: none;
        border:solid 1px black;
        width: 100%;
        height:40vh;
    }
    #video-div{
        position: relative;
        display: block;
        width: 100%;
        // aspect-ratio: 16/9;
    }
    .imagem-div{
        position: relative;
        display: block;
        width: 100%;
        // aspect-ratio: 16/9;
    }
    #video-view{
        display: flex;
        padding-bottom: initial;
        align-items: center;
        width: 100%;
        background-color: gray;
        aspect-ratio: 16/9;
        border-radius: 10px;
        overflow: hidden;
    }
    .imagem-view{
        display: flex;
        padding-bottom: initial;
        // justify-content: initial;
        align-items: center;
        width:100%;
        height: 100%;
        aspect-ratio: 16/9;
    }
    .imagem-view img{
        position: absolute;
        width:100%;
        height:initial;
        left: initial;
        right: initial;
        top: auto;
    }
    .imagem-view img.rd{
        height: 100%;
    }
    #video-filename{
        margin-top: 5px;
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 2em;
        border-radius: 5px;
        border: solid 1px black;
        cursor: pointer;
        padding-left: 5px;
        padding-right: 5px;
    }
    #video-filename.disabled{
        opacity: 0.75;
        cursor: initial;
    }
    #uploadd{
        position:fixed;
        top:0px;
        display:none;
        width:100%;
        height:100%;
        background:rgba(0,0,0,0.5);
        justify-content: center;
        align-items: center;
    }
    #uploadbd{
        position: relative;
        background: white;
        width:40vw;
        height:40vh;
        border-radius: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .imagem-pt{
        margin-top: 5px;
        height: auto;
    }
    .imagem{
        padding-top: 0;
        border: solid 1px black;
        margin-bottom: 5px;
        padding-left: 5px;
        padding-right: 5px;
    }
    .original_format{
        border: solid 1px black;
        border-radius: 5px;
        height: 2em;
    }
    .premium-image-div{
        width: 100%;
    }
    @include pc(){
        .premium-image-div{
            width: 49.5%;
        }
        #video-div{
            display: inline-block;
            width: 49.5%;
        }
        .imagem-div{
            display: inline-block;
            width:49.5%;
            margin-left: 1%;
        }
        .imagem-view{
            padding-bottom: initial;
        }
        .imagem-pt{
            width: 100%;
            flex-direction: row;
        }
        .imagem{
            width: 49.5%;
        }
        .original_format{
            margin-left: 1%;
            width: 49.5%;
            height: 2em;
        }
    }
}