html,body{
    margin:0px;
    font-family: Arial;
}
#tabela{
    top:40%;
    position:absolute;
    background:white;
    left:5.75%;
    width:90%;
    overflow: visible;
}
.linha{
    position:relative;
    background:white;
    display:inline-block;
    /* right:2%;
    bottom:2%; */
    border:solid 1px gray;
    overflow: hidden;
    width:calc(100% - 2px);
}
.titulo{
    display:block;
    position:relative;
    background:white;
    margin-top:2%;
    left:2%;
    width:96%;
    height:8vh;
    overflow: hidden;
    text-overflow: ellipsis;
    --webkit-box-orient:vertical;
    --webkit-line-clamp: 1;
}
.subtitulo{
    position:absolute;
    background:white;
    top:30vh;
    width:100%;
    height:10vh;
}
.nome{
    margin-top:2%;
    left:2%;
    font-size: 130%;
    position:relative;
    background:white;
    width:calc(98% - 6px);
    height:4vh;
}
/* #i7{
    position:absolute;
    top:2%;
} */
.line{
    position:relative;
    background:white;
    width:100%;
    margin-bottom: 4%;
    /* height:40vh; */
}
.cs{
    position:relative;
    background:white;
    display:inline-flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width:12.5vh;
    height:12.5vh;
    border-radius:50%;
    margin-left:1vw;
    border:solid 4px black;
    /* overflow-x:scroll; */
}
#tabela_circle{
    white-space: nowrap;
    position: absolute;
    background: relative;
    left:5%;
    top:20%;
    width:90%;
    height:17.5vh;
    overflow-x:auto;
    /* scrollbar-width:thin; */
}
#tabela_circle::-webkit-scrollbar{
    /* height:auto; */
    background:white;
    color:gray;
    height:5px;
}
#tabela_circle::-webkit-scrollbar-thumb{
    background:gray;
}
.cs2{
    font-size:150%;
    user-select: none;
    position:absolute;
    display:flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    border-radius: 50%;
    top:2.5%;
    left:2%;
    width:95%;
    height:95%;
    background:black;
    color:white;
    overflow:hidden;
}
.cs2 img{
    position:relative;
    background:white;
    width:100%;
    height:100%;
    user-select: none;
}
#status{
    display:none;
    position:absolute;
    position:fixed;
    background:black;
    width:100%;
    height:100%;
}
#status img{
    position: relative;
    background:white;
    left:30%;
    width:40%;
    height:100%;
    user-select:none;
}
#x{
    position:absolute;
    background:black;
    font-size:150%;
    color:white;
    top:-2%;
    padding-left:1.5vw;
    padding-top:1.5%;
    width:5vw;
    height:2vw;
    left:94.5vw;
    cursor:pointer;
}
@keyframes status{
    0%{
        width:0px;
    }
    100%{
        width:100%;
    }
    100%{
        width:100%;
    }
}
#status_div{
    position:fixed;
    background:rgba(0,0,0,0);
    top:1%;
    width:100%;
    height:1%;
}
.status_a{
    position: relative;
    /* background:gray; */
    display:inline-block;
    border-radius:100px;
    overflow:hidden;
    width:25%;
    height:100%;
}
.status_a .a1{
    position:absolute;
    background:gray;
    width:100%;
    height:100%;
}
.status_a .a2{
    position:absolute;
    width:100%;
    height:100%;
}
.animation{
    background:white;
    width:0%;
    animation-play-state: running;
    animation: status 5s linear 1;
}
.end_animation{
    animation:none;
    background:white;
    width:100%;
}
.init_animation{
    animation:none;
    background:gray;
    width:0%;
}
#x1,#x2{
    position:absolute;
    background:rgba(0,0,0,0);
    left:40%;
    top:5%;
    width:5%;
    height:5%;
    cursor:pointer;
    user-select: none;
}
#x1{
    display:block;
}
#x2{
    display:none;
}
#x1 .b1,#x1 .b2{
    position:relative;
    display:inline-block;
    background:black;
    width:20%;
    height:80%;
    border-radius:100px;
}
#x1 .b2{
    position:relative;
}
#x2 .b1{
    position:relative;
    background:rgba(0,0,0,0);
    width:0px;
    height:0px;
    border-top:solid 15px transparent;
    border-left:solid 30px black;
    border-right:solid 15px transparent;
    border-bottom:solid 15px transparent;

}
.a{
    text-decoration: none;
    color:black;
    margin-top:0%;
    margin-left:0%;
}
a:hover{
    color:black;
}
@media screen and (max-width:768px){
#x1,#x2{
    display:none;
}
#x{
    top:1%;
}
.cs2{
    top:2.75%;
    left:2.5%;
}
.linha{
    width:100%;
    display:block;
    /* padding-bottom:10%; */
    position:relative;
}
#x{
    left:92.5%;
}
#status img{
    left:0%;
    width:100%;
}
#ls{
    top:0%;
    position:absolute;
    background:rgba(0,0,0,0);
    width:25%;
    height:100%;
}
#ld{
    top:0%;
    position:absolute;
    background:rgba(0,0,0,0);
    left:75%;
    width:25%;
    height:100%;
}
}
@media screen and (min-width:769px){
.cs{
    width:11.5vh;
    height:11.5vh;
    min-width:77.5px;
    min-height:77.5px;
}
}
.progress-circle {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    position: relative;
  }

  .progress-circle::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  .progress-circle .progress {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    clip: rect(0, 100px, 100px, 50px);
  }
.lp{
    position: relative;
    top:10vh;
    width:10%;
    animation:teste;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes teste{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform:rotate(360deg);
    }
}
.imagem{
    width:100%;
    height:100%;
    position: absolute;
    top: 0;
    left: 0;
}
.imagemd{
    width:100%;
    height:0;
    padding-bottom:calc(100% / 1280 * 720);
    background:gray;
    position:relative;
}