<!DOCTYPE html>
    <head>
        <script src="/templates/modify.js"></script>
        <div name="info" data-an-title="Anjoovi"></div>
        <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no">
        <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
        <title>Painel - Anjoovi</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

        <div id="style">
            <link type="text/css" rel="stylesheet" href="/templates/admin/noticias_cadastro/main.css?v=1.1">
        </div>
    </head>
    <body>
    <div id="page">
    <div id="dt" class="fechado">
    <div id="msg1">Cadastrar texto</div>
    <form>
        <label id="acessos-l">Acessos</label>
        <div id="acessos">0</div>
        <label id="titulo-l">Título</label>
        <input class="input" id="titulo" placeholder="Insira um título" required>
        <label id="subtitulo-l">Subtítulo</label>
        <input class="input" id="subtitulo" placeholder="Insira um subtítulo">
        <!-- <iframe src="/admin_noticias_cadastro/editor.html"></iframe> -->
        <textarea></textarea>
        <img id="imagem-view" class="col-12 col-md-6" src="/static/sem-imagem.jpg">
        <input type="file" id="imagem" class="col-12 col-md-5" accept="image/jpg, image/jpeg" required>
        <button type="submit" id="button">Cadastrar</button>
    </form>
    </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <script src="/scripts/jquery/jquery-3.6.3.min.js"></script>
    <div id="script">
        <script src="/templates/admin/noticias_cadastro/main.js?v=1.1"></script>
    </div>
    </body>
</html>