<html>
    <head>
        <link rel="stylesheet" type="text/css" href="/css/inicio.css">
    </head>
    <body>
        <div id="cb">
            <a href="/"><img id="logo" src="/static/logo-anjoovi.png"></a>
            <img id="bt-menu" src="/static/barra.png">
            <div id="c_menu" class="fechado">
                <a class="a-l" href="/"><div class="i-menu-1 i-menu" >Inicio</div></a>
                <!-- <a class="a-l" href="/noticias-lista"><div class="i-menu-1 i-menu" >Últimas notícias</div></a>
                <a class="a-l" href="/editorias"><div class="i-menu i-menu2" >Editoriais</div></a>
                <a class="a-l" href="/blogs-e-colunas"><div class="i-menu" >Blogs & Colunas</div></a>
                <a class="a-l" href="/paginas"><div class="i-menu i-menu2" >Páginas</div></a>
                <a class="a-l" href="/classificados"><div class="i-menu" >Classificados</div></a>
                <a class="a-l" href="/contato"><div class="i-menu i-menu2" >Fale conosco</div></a> -->
            </div>
            <script src="/static/index.js"></script>
            <form id="fp">
                <input  id="pesquisa" class="fechado" placeholder="Pesquisar">
                <div id="pl">
                    <img src="/static/lupa.png">
                </div>
            </form>
            <a class="l-l" href="/admin"><div id="login">Fazer login</div></a>
            <a href="/admin"><div id="logado" class="nlogado"></div></a>
            <div id="menu-a" class="menu-fechado"></div>
        </div>
        <script async src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
        <script async src="/scripts/inicio.js"></script>
    </body>
</html>