<html>
    <head>
        <script src="/templates/modify.js"></script>
        <div name="info" data-an-title="Painel - Anjoovi"></div>
        <title>Painel - Anjoovi</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

        <div id="style">
            <link rel="stylesheet" type="text/css" href="/templates/admin/grafico/index.css">
        </div>
    </head>
    <body>
        <div id="page">
            <div id="pg-h">
                <!-- <h1>EM DENSENVOLVIMENTO...</h1> -->
                <!-- <div id="divi">
                    <div id="total"></div>
                    <div id="total_24"></div>
                </div> -->
                <div id="total_u"></div>
                <div id="minha pika"></div>
                <div id="divg">
                    <canvas id="grafico0"></canvas>
                    <canvas id="grafico01"></canvas>
                    <canvas id="grafico" style=""></canvas>
                    <canvas id="grafico2" style=""></canvas>
                </div>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
        <script src="/scripts/jquery/jquery-3.6.3.min.js"></script>
        <div id="script">
            <script id="charts" src="https://cdn.jsdelivr.net/npm/chart.js"></script>
            <script src="/templates/admin/grafico/index.js?v=1.17"></script>
        </div>
    </body>
</html>