html,body{
    margin:0px;
    width:100%;
    height:117.5%;
    background:#f0f0f0;
}
body::before{
  content: "";
  position:relative;
  display:block;
  width:100%;
  height:10vh; /* Altura do espaço em branco */
  background-color:white; /* Cor de fundo de exemplo */
}
#msg1{
    box-shadow: 0.5px 0.5px 10px rgba(128,128,128,0.5);
    font-family: Arial;
    font-size:200%;
    position:relative;
    background:white;
    margin-top:2%;
    left:2%;
    right:2%;
    padding-left: 2%;
    width:94%;
    height:15vh;
    display:flex;
    align-items: center;
    border-radius: 2px;
}
form{
    box-shadow: 0.5px 0.5px 10px rgba(128,128,128,0.5);
    position:relative;
    background:white;
    left:2%;
    right:2%;
    margin-top:2%;
    width:96%;
    height:100vh;
    border-radius: 5px;
    overflow-y: visible;
}
/* form::before{
    content:"";
    background:white;
    position: absolute;
    display:block;
    width:100%;
    height:50%;
    top:100%;
    border-radius:5px;
} */
#usuario-l{
    font-family: Arial;
    font-size:110%;
    position:absolute;
    background:rgba(0,0,0,0);
    top:11.5vh;
    left:5%;
    width:20%;
    height:5vh;
    border-radius:5px;
}
#usuario{
    font-family: Arial;
    font-size:110%;
    position:absolute;
    background:white;
    top:15vh;
    left:5%;
    width:25%;
    height:5vh;
    border-radius:5px;
    /* border:solid 2px black; */
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
#categorias-l{
    font-family: Arial;
    font-size:110%;
    position:absolute;
    background:rgba(0,0,0,0);
    top:11.5vh;
    left:40%;
    width:20%;
    height:5vh;
    border-radius:5px;
}
#categorias{
    font-size: 110%;
    position:absolute;
    top:15vh;
    left:40%;
    width:20%;
    height:5.5vh;
    border-radius:5px;
    /* border:solid 2px black; */
}
#destaques-l{
    font-family: Arial;
    font-size:110%;
    position:absolute;
    background:rgba(0,0,0,0);
    top:11.5vh;
    left:67.5%;
    width:20%;
    height:5vh;
    border-radius:5px;
}
#destaques{
    font-size: 110%;
    position:absolute;
    top:15vh;
    left:67.5%;
    width:27.5%;
    height:5.5vh;
    border-radius:5px;
    /* border:solid 2px black; */
}
#acessos-l{
    font-family: Arial;
    font-size:110%;
    position:absolute;
    display:none;
    background:rgba(0,0,0,0);
    top:42vh;
    left:30%;
    width:20%;
    height:5vh;
    border-radius:5px;
}
#acessos{
    font-family: Arial;
    position:absolute;
    background:gray;
    top:46vh;
    left:30%;
    padding-left:2.5%;
    width:25%;
    height:5vh;
    border-radius:5px;
    border:solid 2px black;
    display:none;
    align-items: center;
}
#titulo-l{
    font-family: Arial;
    font-size:110%;
    position:absolute;
    background:rgba(0,0,0,0);
    top:5vh;
    left:5%;
    width:40%;
    height:5vh;
    border-radius:5px;
}
#titulo{
    font-size: 110%;
    position:absolute;
    background:white;
    top:8.5vh;
    left:5%;
    padding-left:2.5%;
    width:90%;
    height:5vh;
    border-radius:5px;
    /* border:solid 2px black; */
    display:flex;
    align-items: center;
}
#subtitulo-l{
    font-family: Arial;
    font-size:110%;
    position:absolute;
    background:rgba(0,0,0,0);
    top:17vh;
    left:5%;
    width:40%;
    height:5vh;
    border-radius:5px;
}
#subtitulo{
    font-size: 110%;
    position:absolute;
    background:white;
    top:20vh;
    left:5%;
    padding-left:2.5%;
    width:90%;
    height:5vh;
    border-radius:5px;
    /* border:solid 2px black; */
    display:flex;
    align-items: center;
}
iframe{
    position:absolute;
    background:white;
    top:60%;
    width:100%;
    height:60%;
}
#imagem-view{
    position:absolute;
    background:gray;
    width:20vh;
    height:20vh;
    left:2.5%;
    top:54vh;
}
#imagem{
    position:absolute;
    background:white;
    display:flex;
    padding-top:1%;
    padding-left:1%;
    justify-content: center;
    text-align: center;
    align-items: center;
    width:30%;
    height:6.5vh;
    top:60vh;
    left:25vh;
    border:solid 1px gray;
    border-radius:5px;
}
#button{
    font-family:Arial;
    font-size:110%;
    position:absolute;
    background:black;
    color:white;
    top:90vh;
    width:10%;
    height:7.5vh;
    left:1%;
    border:solid 1px black;
    border-radius:5px;
}
#button:hover{
    background:white;
    color:black;
}
#m{
    position:fixed;
    display:flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background:rgb(0,255,0);
    color:white;
    top:10%;
    width:100%;
    height:10%;
}
.input{
    outline: none;
    border:solid 1px gray;
    /* border:solid 0.5px gray; */
}
.input:focus{
    /* outline: none; */
    border:solid 1px black;
}
textarea{
    font-family: Arial;
    font-size:110%;
    position:absolute;
    top:60vh;
    background:white;
    width:100%;
    height:40vh;

}
#dt{
    position:absolute;
    background:rgba(0,0,0,0);
    height:100%;
    overflow-y: visible;
}
#dt.fechado{
    width:100%;
}
#dt.aberto{
    width:80%;
    left:20%;
}